<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Self monitoring service</title>
  </head>
  <body>
    <% if (user && user.email) { %>
      <div>
        <button><a href="/auth/logout">Log out</a></button>
        <button><a href="/behavior/reporting">Report behavior</a></button>
        <button><a href="/behavior/summary">See results</a></button>
        <p>Logged in as <%= user.email %></p>
      </div>
    <% } %>
