<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-menu">
    <% if (locals.isReporting) { %>
      <div class="navbar-start">
        <div class="navbar-item">
          <div class="buttons">
            <button class="button is-primary" onclick="chooseMorning()">Submit morning Behavior</button>
            <button class="button is-primary" onclick="chooseEvening()">Submit evening behavior</button>
          </div>
        </div>
      </div>
    <% } %>

    <div class="navbar-end">
      <div class="navbar-item">
        <% if (user && user.email) { %>
          <span class="tag is-medium is-warning">Logged in as&nbsp;<strong><%= user.email %></strong></span>
        <% } %>
      </div>
      <div class="navbar-item">
        <div class="buttons">
          <% if (user && user.email) { %>
            <a class="button is-primary" href="/behavior/reporting">Report behavior</a>
            <a class="button is-primary" href="/behavior/summary">See results</a>
            <a class="button is-light" href="/auth/logout">Log out</a>
          <% } else { %>
            <a class="button is-primary" href="/auth/register"><strong>Register</strong></a>
            <a class="button is-light" href="/auth/login">Log in</a>
          <% }  %>
        </div>
      </div>
    </div>
  </div>
</nav>
